#####
# ~/.gitconfig -- user git configuration file
#
#   @author     Pat Gaffney <pat@hypepat.com>
#
#   The presence of this file overrides the system (--system) 
#   defaults, located in /etc/gitconfig. The settings in this file
#   can be overwritten on a project level by adding configurations
#   to the .git/config file in a repository.
#
#####################################################################

[user] 
    name = Pat Gaffney
    email = pat@hypepat.com

# Include my Work-specific .gitconfig
[includeIf "gitdir:~/work/**"]
    path = ~/work/.gitconfig

[alias]
    aa = add --all
    st = status
    co = checkout
    br = branch
    up = rebase
    cm = commit
    set = branch -u
    last = log -1 HEAD
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    undo = reset HEAD~

[core]
    editor = subl --wait --new-window

[push]
    default = simple

[branch]
    autosetuprebase = always

[credential]
    helper = osxkeychain
