#####
# ~/.gitconfig -- user git configuration file
#
#   @author     Pat Gaffney <pat@hypepat.com>
#   @created    2016-09-17
#   @modified   2016-11-29
#
#   The presence of this file overrides the system (--system) 
#   defaults, located in /etc/gitconfig. The settings in this file
#   can be overwritten on a project level by adding configurations
#   to the .git/config file in a repository.
#
#####################################################################

[user] 
name = Pat Gaffney
email = pat@hypepat.com

[alias]
aa = add --all
st = status
co = checkout
br = branch
up = rebase
cm = commit
last = log -1 HEAD
hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short

[core]
# Set Sublime Text to be the default editor.
#   --wait: Execute the command synchronously.
editor = subl --wait

[push]
default = simple

[branch]
autosetuprebase = always

[credential]
helper = osxkeychain
