#####
# ~/.inputrc -- startup file for readline
#
#   @author     Pat Gaffney <pat@hypepat.com>
#   @created    2016-09-17
#   @modified   2016-09-17
#
#   This file is loaded by the Readline library. It sets defaults
#   for variable settings, key bindings, and behavior.
#
#####################################################################

#####################################################################
# @section Run-Time Behavior
#####################################################################

# Use a visible bell instead of an audible one.
# - OPTIONS: visible, none, audible
# - DEFAULT: audible
set bell-style visible

# Bind control characters to their Readline equivalents.
# - OPTIONS: on, off
# - DEFAULT: on
set bind-tty-special-chars on

# Display possible completions using different colors to indicate
# their file type. Color definitions are taken from the value of
# $LS_COLORS environment variable.
# - OPTIONS: on, off
# - DEFAULT: off
set colored-stats on

# String to insert at the beginning of the line when 
# `insert-comment` command is executed.
# - OPTIONS: any valid string
# - DEFAULT: "#"
set comment-begin "#"

# Number of screen columns used to display possible matches when
# performing completion. The value is ignored if it is less than 0
# or greater than the terminal screen width.
# - OPTIONS: any valid signed integer
# - DEFAULT: -1
set completion-display-width -1

# Perform case-insensitive filename matching and completion.
# - OPTIONS: on, off
# - DEFAULT: off
set completion-ignore-case on

# Treat hypens `-` and underscores `_` as equivalent when performing
# case-insensitive filename matching and completion.
# - OPTIONS: on, off
# - DEFAULT: off
set completion-map-case off

# Length in characters of the common prefix of a list of possible
# completions that is displayed without modification. When set to a 
# value greater than 0, common prefixes longer than this value are 
# replaced with an ellipsis.
# - OPTIONS: any valid signed integer
# - DEFAULT: -1
set completions-prefix-display-length -1

# Number of possible completions that determines when the user is 
# asked to display the entire list of possibilities.
# - OPTIONS: any valid signed integer
# - DEFAULT: 100
set completion-query-items 20

# Convert characters with the eigth bit set to an ASCII key sequence 
# by stripping the eigth big and prefixing an `ESC` character, 
# converting them to a meta-prefixed key sequence
# - OPTIONS: on, off
# - DEFAULT: one
set convert-meta on

# Disable word completion
# - OPTIONS: on, off
# - DEFAULT: off
set disable-completion off

# Controls which default key bindings to use.
# - OPTIONS: emacs, vi
# - DEFAULT: emacs
set editing-mode emacs

# Echo a character corresponding to a signal generated 
# by the keyboard.
# - OPTIONS: on, off
# - DEFAULT: on
set echo-control-characters off

# Enable the application keypad when it is called.
# - OPTIONS: on, off
# - DEFAULT: off
set enable-keypad off

# Enable any meta modifier key the terminal claims to support.
# - OPTIONS: on, off
# - DEFAULT: on
set enable-meta-key on

# Perform tilde expansion when Readline attempts word completion.
# - OPTIONS: on, off
# - DEFAULT: off
set expand-tilde off

# Place the current cursor position at the same location on each
# history line retrieved with `previous-history` or `next-history`.
# - OPTIONS: on, off
# - DEFAULT: off
set history-preserve-point off

# Set the maximum number of history entries saved in history list.
# - OPTIONS: any valid signed integer
# - DEFAULT: 500
set history-size 5000

# Scroll the current line of text being edited horizontally.
# - OPTIONS: on, off
# - DEFAULT: off
set horizontal-scroll-mode off

# Enable eight-bit input.
# - OPTIONS: on, off
# - DEFAULT: off
set input-meta off

# The string of characters that should terminate an incremental 
# search without subsequently executing the character as a command.
# - OPTIONS: no value or a keystroke
# - DEFAULT: no value
# set isearch-terminators 

# Set the current keymap for key binding commands.
# - OPTIONS: emacs, emacs-meta, emacs-ctlx, vi, vi-move, vi-insert
# - DEFAULT: emacs
set keymap emacs

# Specify a duration to wait for a character when reading an 
# ambiguous key sequence.
# - OPTIONS: time in milliseconds
# - DEFAULT: 500
set keyseq-timeout 500

# Completed directory names have a slash appended.
# - OPTIONS: on, off
# - DEFAULT: on
set mark-directories on

# Mark history lines that have been modified.
# - OPTIONS: on, off
# - DEFAULT: off
set mark-modified-lines off

# Completed name which are symbolic links have a slash appended.
# - OPTIONS: on, off
# - DEFAULT: off
set mark-symlinked-directories off

# Match files whose names begin with a `.` (hidden files).
# - OPTIONS: on, off
# - DEFAULT: on
set match-hidden-files on

# Menu completion displays the common prefix of all possible 
# completions before cycling through a list.
# - OPTIONS: on, off
# - DEFAULT: off
set menu-complete-display-prefix off

# Display character with the eighth-bit set directly rather than
# as a meta-prefixed escape sequence.
# - OPTIONS: on, off
# - DEFAULT: off
set output-meta off

# Use an internal `more`-like pager to display a screenful of 
# possible completions at a time.
# - OPTIONS: on, off
# - DEFAULT: on
set page-completions on

# Display completions with matches sorted horizontally in 
# alphabetical order, rather than down a screen.
# - OPTIONS: on, off
# - DEFAULT: off
set print-completions-horizontally off

# Undo all changes to history lines before returning when
# `accept-line` is executed.
# - OPTIONS: on, off
# - DEFAULT: off
set revert-all-at-newline off

# Words which have more than one possible completion cause the
# matches to be listed immediately instead of ringing the bell.
# - OPTIONS: on, off
# - DEFAULT: off
set show-all-if-ambiguous on

# Words which have more than one possible completion without any
# possible partial completion cause the matches to be listed
# immediately instead of ringing the bell.
# - OPTIONS: on, off
# - DEFAULT: off
set show-all-if-unmodified on

# Add a character to the beginning of the prompt indicating the
# editing mode: `@` for emacs, `:` for vi, `+` for vi-insertion.
# - OPTIONS: on, off
# - DEFAULT: off
set show-mode-in-prompt off

# Do not insert characters from the completion that match characters
# after point in the word being completed, so portions of the word
# following the cursor are not duplicated.
# - OPTIONS: on, off
# - DEFAULT: off
set skip-completed-text off

# A character denoting a file's type is appending to the filename
# when listing possible completions.
# - OPTIONS: on, off
# - DEFAULT: off
set visible-stats off


#####################################################################
# @section Key Bindings
#####################################################################

"\C-g": abort
"\C-x\C-g": abort
"\e\C-g": abort
"\C-j": accept-line
"\C-m": accept-line
"\C-b": backward-char
"\eOD": backward-char
"\e[D": backward-char
"\C-h": backward-delete-char
"\C-?": backward-delete-char
"\C-x\C-?": backward-kill-line
"\e\C-h": backward-kill-word
"\e\C-?": backward-kill-word
"\eb": backward-word
"\e<": beginning-of-history
"\C-a": beginning-of-line
"\eOH": beginning-of-line
"\e[H": beginning-of-line
"\C-xe": call-last-kbd-macro
"\ec": capitalize-word
"\C-]": character-search
"\e\C-]": character-search-backward
"\C-l": clear-screen
"\C-i": complete
"\e\e": complete
"\e!": complete-command
"\e/": complete-filename
"\e@": complete-hostname
"\e{": complete-into-braces
"\e~": complete-username
"\e$": complete-variable
"\C-d": delete-char
"\e[3~": delete-char
"\e\\": delete-horizontal-space
"\e-": digit-argument
"\e0": digit-argument
"\e1": digit-argument
"\e2": digit-argument
"\e3": digit-argument
"\e4": digit-argument
"\e5": digit-argument
"\e6": digit-argument
"\e7": digit-argument
"\e8": digit-argument
"\e9": digit-argument
"\C-x\C-v": display-shell-version
"\C-xA": do-lowercase-version
"\C-xB": do-lowercase-version
"\C-xC": do-lowercase-version
"\C-xD": do-lowercase-version
"\C-xE": do-lowercase-version
"\C-xF": do-lowercase-version
"\C-xG": do-lowercase-version
"\C-xH": do-lowercase-version
"\C-xI": do-lowercase-version
"\C-xJ": do-lowercase-version
"\C-xK": do-lowercase-version
"\C-xL": do-lowercase-version
"\C-xM": do-lowercase-version
"\C-xN": do-lowercase-version
"\C-xO": do-lowercase-version
"\C-xP": do-lowercase-version
"\C-xQ": do-lowercase-version
"\C-xR": do-lowercase-version
"\C-xS": do-lowercase-version
"\C-xT": do-lowercase-version
"\C-xU": do-lowercase-version
"\C-xV": do-lowercase-version
"\C-xW": do-lowercase-version
"\C-xX": do-lowercase-version
"\C-xY": do-lowercase-version
"\C-xZ": do-lowercase-version
"\eA": do-lowercase-version
"\eB": do-lowercase-version
"\eC": do-lowercase-version
"\eD": do-lowercase-version
"\eE": do-lowercase-version
"\eF": do-lowercase-version
"\eG": do-lowercase-version
"\eH": do-lowercase-version
"\eI": do-lowercase-version
"\eJ": do-lowercase-version
"\eK": do-lowercase-version
"\eL": do-lowercase-version
"\eM": do-lowercase-version
"\eN": do-lowercase-version
"\eP": do-lowercase-version
"\eQ": do-lowercase-version
"\eR": do-lowercase-version
"\eS": do-lowercase-version
"\eT": do-lowercase-version
"\eU": do-lowercase-version
"\eV": do-lowercase-version
"\eW": do-lowercase-version
"\eX": do-lowercase-version
"\eY": do-lowercase-version
"\eZ": do-lowercase-version
"\el": downcase-word
"\e\C-i": dynamic-complete-history
"\C-x\C-e": edit-and-execute-command
"\C-x)": end-kbd-macro
"\e>": end-of-history
"\C-e": end-of-line
"\eOF": end-of-line
"\e[F": end-of-line
"\C-x\C-x": exchange-point-and-mark
"\C-f": forward-char
"\eOC": forward-char
"\e[C": forward-char
"\C-s": forward-search-history
"\ef": forward-word
"\eg": glob-complete-word
"\C-x*": glob-expand-word
"\C-xg": glob-list-expansions
"\e^": history-expand-line
"\e#": insert-comment
"\e*": insert-completions
"\e.": insert-last-argument
"\e_": insert-last-argument
"\C-k": kill-line
"\ed": kill-word
"\C-n": next-history
"\eOB": next-history
"\e[B": next-history
"\en": non-incremental-forward-search-history
"\ep": non-incremental-reverse-search-history
"\C-o": operate-and-get-next
"\C-x!": possible-command-completions
"\e=": possible-completions
"\e?": possible-completions
"\C-x/": possible-filename-completions
"\C-x@": possible-hostname-completions
"\C-x~": possible-username-completions
"\C-x$": possible-variable-completions
"\C-p": previous-history
"\eOA": previous-history
"\e[A": previous-history
"\C-q": quoted-insert
"\C-v": quoted-insert
"\C-x\C-r": re-read-init-file
"\C-r": reverse-search-history
"\e\C-r": revert-line
"\er": revert-line
" ": self-insert
"!": self-insert
"\"": self-insert
"#": self-insert
"$": self-insert
"%": self-insert
"&": self-insert
"'": self-insert
"(": self-insert
")": self-insert
"*": self-insert
"+": self-insert
",": self-insert
"-": self-insert
".": self-insert
"/": self-insert
"0": self-insert
"1": self-insert
"2": self-insert
"3": self-insert
"4": self-insert
"5": self-insert
"6": self-insert
"7": self-insert
"8": self-insert
"9": self-insert
":": self-insert
";": self-insert
"<": self-insert
"=": self-insert
">": self-insert
"?": self-insert
"@": self-insert
"A": self-insert
"B": self-insert
"C": self-insert
"D": self-insert
"E": self-insert
"F": self-insert
"G": self-insert
"H": self-insert
"I": self-insert
"J": self-insert
"K": self-insert
"L": self-insert
"M": self-insert
"N": self-insert
"O": self-insert
"P": self-insert
"Q": self-insert
"R": self-insert
"S": self-insert
"T": self-insert
"U": self-insert
"V": self-insert
"W": self-insert
"X": self-insert
"Y": self-insert
"Z": self-insert
"[": self-insert
"\\": self-insert
"]": self-insert
"^": self-insert
"_": self-insert
"`": self-insert
"a": self-insert
"b": self-insert
"c": self-insert
"d": self-insert
"e": self-insert
"f": self-insert
"g": self-insert
"h": self-insert
"i": self-insert
"j": self-insert
"k": self-insert
"l": self-insert
"m": self-insert
"n": self-insert
"o": self-insert
"p": self-insert
"q": self-insert
"r": self-insert
"s": self-insert
"t": self-insert
"u": self-insert
"v": self-insert
"w": self-insert
"x": self-insert
"y": self-insert
"z": self-insert
"{": self-insert
"|": self-insert
"}": self-insert
"~": self-insert
"\200": self-insert
"\201": self-insert
"\202": self-insert
"\203": self-insert
"\204": self-insert
"\205": self-insert
"\206": self-insert
"\207": self-insert
"\210": self-insert
"\211": self-insert
"\212": self-insert
"\213": self-insert
"\214": self-insert
"\215": self-insert
"\216": self-insert
"\217": self-insert
"\220": self-insert
"\221": self-insert
"\222": self-insert
"\223": self-insert
"\224": self-insert
"\225": self-insert
"\226": self-insert
"\227": self-insert
"\230": self-insert
"\231": self-insert
"\232": self-insert
"\233": self-insert
"\234": self-insert
"\235": self-insert
"\236": self-insert
"\237": self-insert
"?": self-insert
"\C-@": set-mark
"\e ": set-mark
"\e\C-e": shell-expand-line
"\C-x(": start-kbd-macro
"\e&": tilde-expand
"\C-t": transpose-chars
"\et": transpose-words
"\C-x\C-u": undo
"\C-_": undo
"\C-u": unix-line-discard
"\C-w": unix-word-rubout
"\eu": upcase-word
"\C-y": yank
"\e.": yank-last-arg
"\e_": yank-last-arg
"\e\C-y": yank-nth-arg
"\ey": yank-pop
